*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Barlow Condensed", sans-serif;
    }

.body-div{
    width: 100vw;
    height: 100vh;
    background-image: url("background-destination.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 1440px;
    padding-top: 40px;
    margin: auto;
}

header{
    display: flex;
    width: 1385px;
    height: 96px;
    margin-left: 55px;
    margin-bottom: 76px;
}

.left-header{
    display: flex;
    align-items: center;
    width: 555px;
    height: 100%;
}

.oval{
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 48px;
    height: 48px;
    margin-right: 64px;
}

.line{
    width: 443px;
    height: 1px;
    border-top: solid 1px;
    border-color: #383B4B;
}

.right-header{
    display: flex;
    align-items: center;
    width: 830px;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.05);
}

.line-2{
    width: 30px;
    height: 1px;
    border-top: solid 1px;
    border-color: #383B4B;
    margin-right: 93px;
}

.navigation{
    display: flex;
    width: 542px;
    justify-content: space-between;
    margin-right: 165px;
}

.navigation h6{
    color: #FFFFFF;
    font-weight: 100;
    font-size: 16px;
}

.destination{
    border-bottom: solid 2px #FFFFFF;
    height: 96px;
    display: flex;
    align-items: center;
}

.destination h6{
    margin-bottom: -3px;
}

.home{
    height: 96px;
    display: flex;
    align-items: center;
}

.crew{
    height: 96px;
    display: flex;
    align-items: center;
}

.technology{
    height: 96px;
    display: flex;
    align-items: center;
}

main{
    margin: 0 165px;
    display: flex;
    align-items: flex-end;
}

.destination-image{
    width: 445px;
    height: 445px;
    background-image: url('image-moon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 65px;
    margin-right: 157px;
}

.pick{
    margin-left: 166.5px;
    margin-bottom: 64px;
}

.pick span{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.pick h4{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 34px;
    letter-spacing: 4px;
}

.destination-text{
    width: 445px;
    height: 472px;
}

.planets{
    width: 285.5px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.planets h6{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}

.moon{
    border-bottom: solid 2px #FFFFFF;
    height: 34px;
    display: flex;
    align-items: center;
}

.moon h6{
    margin-bottom: -2px;
}

.moon:hover{
    cursor: pointer;
}

.mars{
    height: 34px;
    display: flex;
    align-items: center;
}

.mars:hover{
    cursor: pointer;
}

.europa{
    height: 34px;
    display: flex;
    align-items: center;
}

.europa:hover{
    cursor: pointer;
}

.titan{
    height: 34px;
    display: flex;
    align-items: center;
}

.titan:hover{
    cursor: pointer;
}

.destination-title{
    width: 333px;
    height: 115px;
    margin-bottom: 14px;
}

.destination-title h1{
    font-family: "Bellefair", sans-serif;
    height: 115px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
}

.destination-info{
    width: 444px;
    height: 128px;
    margin-bottom: 54px;
}

.destination-info p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.line-3{
    width: 444px;
    height: 1px;
    border-top: solid 1px;
    border-color: #383B4B;
    margin-bottom: 28px;
}

.distance-and-time{
    display: flex;
    width: 445px;
    height: 61xp;
}

.distance{
    margin-right: 79px;
}

.distance-and-time h6{
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: #D0D6F9;
}

.distance-and-time p{
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
}